.line-block{
    display: inline-block!important;
}
.text-white{
    color: #fff!important;
}
.text-maroon{
    color: maroon!important;
}
.mg-top-0{
    margin-top:0px!important;
}
.mg-top-neg5{
    margin-top: -5px!important;
}
.mg-top-neg3{
    margin-top: -3px!important;
}
.mg-top-5{
    margin-top:5px!important;
}
.mg-top-10{
    margin-top:10px!important;
}
.mg-top-15{
    margin-top:15px!important;
}
.mg-top-20{
    margin-top:20px!important;
}
.mg-top-30{
    margin-top:30px!important;
}
.mg-top-40{
    margin-top:40px!important;
}
.mg-top-50{
    margin-top:50px!important;
}
.mg-top-80{
    margin-top:80px!important;
}
.mg-top-100{
    margin-top:100px!important;
}
.mg-bottom-0{
    margin-bottom:0px!important;
}
.mg-bottom-10{
    margin-bottom:10px!important;
}
.mg-bottom-20{
    margin-bottom:20px!important;
}
.mg-bottom-30{
    margin-bottom:30px!important;
}
.mg-bottom-40{
    margin-bottom:40px!important;
}
.mg-bottom-50{
    margin-bottom:50px!important;
}
.mg-bottom-80{
    margin-bottom:80px!important;
}
.mg-bottom-100{
    margin-bottom:100px!important;
}
.pd-left-right-15{
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.pd-left-right-0{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.pd-top-5{
    padding-top:5px!important;
}
.pd-top-10{
    padding-top:10px!important;
}
.pd-top-15{
    padding-top:15px!important;
}
.pd-top-20{
    padding-top:20px!important;
}
.pd-top-30{
    padding-top:30px!important;
}
.pd-top-40{
    padding-top:40px!important;
}
.pd-top-50{
    padding-top:50px!important;
}
.pd-top-60{
    padding-top:60px!important;
}
.pd-top-80{
    padding-top:80px!important;
}
.pd-top-92{
    padding-top:92px!important;
}
.pd-top-100{
    padding-top:100px!important;
}
.pd-top-150{
    padding-top:150px!important;
}
.pd-top-200{
    padding-top:200px!important;
}
.pd-top-250{
    padding-top:250px!important;
}






.pd-bottom-0{
    padding-bottom:0px!important;
}
.pd-bottom-5{
    padding-bottom:5px!important;
}
.pd-bottom-10{
    padding-bottom:10px!important;
}
.pd-bottom-15{
    padding-bottom:15px!important;
}
.pd-bottom-20{
    padding-bottom:20px!important;
}
.pd-bottom-30{
    padding-bottom:30px!important;
}
.pd-bottom-40{
    padding-bottom:40px!important;
}
.pd-bottom-50{
    padding-bottom:50px!important;
}
.pd-bottom-80{
    padding-bottom:80px!important;
}
.pd-bottom-100{
    padding-bottom:100px!important;
}
.pd-bottom-150{
    padding-bottom:150px!important;
}
.pd-bottom-200{
    padding-bottom:200px!important;
}
.pd-bottom-250{
    padding-bottom:250px!important;
}
.pd-bottom-300{
    padding-bottom:300px!important;
}


.pd-trbl-10{
    padding: 10px!important;    
}
.pd-trbl-0{
    padding: 0px!important;
}
.pd-trbl-15{
    padding: 15px!important;    
}
.pd-trbl-20{
    padding: 20px!important;    
}
.pd-20-10{
    padding: 20px 10px!important;
}



.mg-left-right-auto{
    margin-left: auto!important;
    margin-right: auto!important;
}
.mg-left-15{
    margin-left: 15px!important;
}
.mg-left-400{
    margin-left: 400px!important;
}
.mg-right-50{
    margin-right: 50px!important;
}
.pd-left-right-0
{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.pd-left-right-50
{
    padding-left: 50px!important;
    padding-right: 50px!important;
}
.pd-left-right-80
{
    padding-left: 80px!important;
    padding-right: 80px!important;
}
.pd-left-right-85
{
    padding-left: 85px!important;
    padding-right: 85px!important;
}
.pd-left-right-100
{
    padding-left: 100px!important;
    padding-right: 100px!important;
}
.pd-left-right-0
{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.mg-left-right-0
{
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.mg-right-10{
    margin-right: 10px!important;
}
.mg-top-neg10{
    margin-top: -10px!important;
}
.mg-top-2{
    margin-top: -2px!important;
}
.mg-left-50{
    margin-left: 50px!important;
}
.pd-bottom-5{
    padding-bottom: 5px!important;
}
.pd-left-20{
    padding-left: 20px!important;
}
.pd-left-21{
    padding-left: 21px!important;
}
.pd-left-70{
    padding-left: 70px!important;
}
.pd-left-80{
    padding-left: 80px!important;
}
.pd-right-0{
    padding-right: 0px!important;
}
.pd-right-100{
    padding-right: 100px!important;
}
.pd-bottom-28{
    padding-bottom: 28px!important;
}
.pd-bottom-26{
    padding-bottom: 26px!important;
}
.pd-top-70{
    padding-top: 70px!important;
}
.fw-900{
    font-weight: 900!important;
}
.fw-400{
    font-weight: 400!important;
}
.fw-700{
    font-weight: 700!important;
}
.pd-left-right-30{
    padding-left: 30px!important;
    padding-right: 30px!important;
}
.pd-left-right-50{
    padding-left: 50px!important;
    padding-right: 50px!important;
}
.pd-left-right-60{
    padding-left: 60px!important;
    padding-right: 60px!important;
}
.pd-right-10{
    padding-right: 10px!important;
}
.pd-right-20{
    padding-right: 20px!important;
}
.pd-right-30{
    padding-right: 30px!important;
}
.pd-right-40{
    padding-right: 40px!important;
}
.pd-right-50{
    padding-right: 50px!important;
}
.pd-right-80{
    padding-right: 80px!important;
}
.pd-right-100{
    padding-right: 100px!important;
}
.pd-left-50{
    padding-left: 50px!important;
}
.pd-left-10{
    padding-left: 10px!important;
}
.pd-left-15{
    padding-left: 15px!important;
}



/*============= fontsizes =====================*/
.fontsize-40{
    font-size: 40px!important;
}
.fontsize-30{
    font-size: 30px!important;
}
.fontsize-20{
    font-size: 20px!important;
}
.fontsize-50{
    font-size: 50px!important;
}



/*============ height ========================*/
.height50{
   min-height: 50px!important;
}

.height100{
    min-height: 100px!important;
}

.height200{
    min-height: 200px!important;
}

.height243{
    min-height: 243px!important;
}

.height250{
    min-height: 250px!important;
}

.height150{
    min-height: 150px!important;
}

.height300{
    min-height: 300px!important;
}

.height450{
    min-height: 450px!important;
}

.height400{
    min-height: 400px!important;
}

.height500{
    min-height: 500px!important;
}


/*================ WIDTH ========================*/
.width-450{
    width: 450px!important;
}


/*========== DISPLAY INLINE / BOCK ================*/

.display-inline{
    display: inline-block!important;
}
.display-block{
    display: block!important;
}


/*=========== backgorund Color ====================*/
.bg-black{
    background-color: #000!important;
}
.bg-pink{
    background-color: rgb(201, 72, 93);
}
.bg-gray-f4{
    background-color: #F2F6F7;
}
.bg-gray-e1
{
    background-color: #DFE0E2;
}

/*========== TEXT COLOR =============*/
.text-gray-95
{
    color: #959a9d!important;
}

.text-decoration-none a
{
    text-decoration: none!important;
}

